<fieldset>
  <div class="card" style="width:50%; padding: 10px">
    <%= form_with model: article do |form| %>
    <div class="">
      <label for="exampleInputEmail1" class="form-label mt-4"><%= form.label :title %></label>
      <%= form.text_field :title, class:'form-control'%>
      <% article.errors.full_messages_for(:title).each do |message| %>
      <small class="form-text text-danger"><%= message %></small>
    </div>
    <% end %>

    <div class="">
      <label for="exampleTextarea" class="form-label mt-4"><%= form.label :body %></label>
      <%= form.text_area :body, class:'form-control', rows:'3' %>
      <% article.errors.full_messages_for(:body).each do |message| %>
      <small class="form-text text-danger"><%= message %></small>
    </div>
    <% end %>

    <div class="" style="padding:5px">
      <label for="exampleSelect1" class="form-label mt-4"><%= form.label :status %></label>
      <%= form.select :status, %w[public private archived], selected: 'public', class: 'form-select' %>
    </div>

    <div style="display: flex; justify-content: flex-end; width: 100%; padding: 5px">
      <div style="padding:5px">
        <%= form.submit class:'btn btn-outline-success' %>
      </div>
      <div style="padding:5px">
        <%= link_to 'Cancel', root_path(@article), :class => 'btn btn-outline-light' %>
      </div>
    </div>

    <% end %>
  </div>
</fieldset>
