<div class="row" style="padding:15px">
  <% @articles.each_with_index do |article, i| %>
  <div class="card border-info mb-3 col-4" style="max-width: 20rem; margin: 10px">
    <div class="card-header">Article <%= i+1 %></div>
    <div class="card" style="width:25%;">
      <% if article.status == 'public' %>
        <span class="badge rounded-pill btn-primary"><%= article.status %></span>
      <% elsif article.status == 'private' %>
        <span class="badge rounded-pill btn-secundary"><%= article.status %></span>
      <% elsif article.status == 'archived' %>
        <span class="badge rounded-pill btn-warning"><%= article.status %></span>
      <% else %>
        <span class="badge rounded-pill btn-danger"><%= article.status %></span>
      <% end %>
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= link_to article.title, article %></h4>
      <p class="card-text"><%= article.body %></p>
    </div>
  </div>
  <% end %>
</div>

<button class="btn btn-outline-primary" style="position:absolute; top:0; right:0; padding: 10px; margin:10px" onclick="location.href='<%= new_article_path %>'">New Article</button>

<div style="width:100%; display: flex; justify-content: flex-end; position:absolute; bottom:0; right:0; padding: 10px">
  <div class="card" style="width:20%;">
    <span class="badge bg-info">This blog has <%= Article.public_count %> articles.</span>
  </div>
</div>
